<html>
        <head>
                <% include ../views/head %> 
            </head>
            <body>
                <header>
                    <% include ../views/header %>
                </header>
                <section class="hero">
                    <div class="hero-content">
                        <h2>xxx</h2>
                    </div>
                </section>
                <main>
                    <div class="row">
                            <div class="col-sm-12">
                                <div class="well">
                                        <h3>toi di hc</h3>
                                </div>                            
                            </div>                           
                    </div>          
                    
                </main>
               
                <footer>
                    <% include ../views/footer %>
                </footer>
            </body>
</html>>