<nav class="navbar navbar-inverse">
                <a class="navbar-brand" href="/">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                    My site
                </a>
        
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="./about">About</a></li>
                </ul>
</nav>